NEXT_PUBLIC_SUPABASE_URL=https://qcvafzyplcyqlulemzbo.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_iIQDwchlEmoveic40QkSHQ_Zcl42iul
RESEND_API_KEY=your_resend_api_key

NEXT_PUBLIC_JUDGE0_URL="https://judge0-ce.p.rapidapi.com"
JUDGE0_HOST="judge0-ce.p.rapidapi.com"
JUDGE0_KEY=your_judge0_api_key
